<!DOCTYPE html>
<html>
<body>

<h1>JavaScript Variables</h1>

<p>In this example, {{form}}, price2, and total are variables.</p>

<p id="demo"></p>
<button onclick="show();">Show # rows</button>
<script>
  let show = () => {
     let element = document.getElementByClass("park_name");
     let length = element.length;
     alert("# Rows = " + length);
  }
</script>
</div>

<!--Todo Table-->
<div class="container table-responsive">          
<table class="table">
    <thead>
    <tr>
        <th class="id">id</th>
        <th class="image">Image</th>
        <!-- <th class="contact">Contact</th> -->


    </tr>
    </thead>

    <tbody>
    {% for item in items %}
    <tr>
        
        <!-- <td><a href={{item.image_url}}></a></td> -->
        
        <td>
            <!--mark changes -->
            
            <br></br>
            <span class="bolded">phone number: </span></th>{{item.phone_number}}
            <br></br>
            <span class="bolded">direction: </span></th>{{item.directions}}

        </td>   
    </tr>
    {% endfor %}
    
    </tbody>
</table>
</div>
</body>
</html>
